@import '~baguettebox.js/dist/baguetteBox.min.css';
@import "~slick-carousel/slick/slick";
@import "~slick-carousel/slick/slick-theme";
.zoomer,.zoomer-video {
    cursor: pointer;
    pointer-events: auto !important;
}

.form__label {
    &.invalid {
        .form__input, .form__icon-input-wrapper, .form__select-intro {
            border: 1px solid red;
            color: red;
        }

        & .validation {
            color: red;
            opacity: 1;
            visibility: visible;
        }
    }
}

.glide__slides {
    .glide__slide:nth-child(-n+4) {
        width:25%;
        padding: 0 5px;
    }
}

.catalog-nav__first {
    // height: 148px;
}

.form-filter-trigger-wrapper {
    display: none;
}

@media (max-width: 767px) {
    .form-filter-trigger-wrapper {
        display: block;
    }
}
